* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", serif;
  background: url('images/bg-pattern-top-desktop.svg'), url('images/bg-pattern-bottom-desktop.svg');
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
  background-size: contain;
  height: 100vh;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

main {
  display: flex;
  flex-direction: column; 
  gap: 20px;             
  width: 80%;
}

.top-container {
  display: flex;         
  justify-content: space-between; 
}

.reviews-container {
  width: 100%; 
  display: flex;          
}